@charset "utf-8";

main {
  position: relative;
  padding-bottom: 50px;
}

.chip-nav {
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 12px 0 8px;

  & .tabs {
    width: max-content;
    display: flex;
    gap: 6px;
    padding: 0 12px;
    cursor: grab;

    & div {
      font-size: 12px;
      font-weight: 500;
      color: #4d4f52;
      background-color: #f3f4f5;
      border: 1px solid #f6f6f7;
      border-radius: 28px;
      padding: 12px 16px;

      &[aria-selected="true"] {
        color: #d5d6d8;
        background-color: #2a3038;
        border-color: #878b8f;
      }
    }
  }
}

.contents {
  padding: 0 16px;

  & .item-list {
    display: flex;
    gap: 16px;
    padding: 16px 0 28px;
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid #f3f3f3;
    }

    & .item-list__img {
      width: 120px;
      aspect-ratio: 1 / 1;
      background-color: #f3f3f3;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%; /* 48px */
      }
    }
    & .item-list__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;

      & .item-list__info-title {
        font-size: 16px;
        font-weight: 500;
        color: #494b4e;
        line-height: 1.3;
        max-width: 80%;
      }
      & .item-list__info-meta {
        display: flex;
        gap: 4px;

        & img {
          height: 13px;
        }
        & .item-list__info-meta__text {
          font-size: 13px;
          color: #a0a4ab;
        }
      }
      & .item-list__info-price {
        font-size: 16px;
        font-weight: 600;
        color: #333538;
        margin-top: 4px;
      }
    }
    & .item-list__more {
      position: absolute;
      right: -10px; /* 6px */
      top: 2px; /* 18px */
      padding: 16px; /* 0 */

      & img {
        height: 16px;
      }
    }
    & .item-list__favorite {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px; /* 0 */
      position: absolute;
      right: -8px; /* 0 */
      bottom: 24px; /* 32px */
      font-size: 12px;
      color: #a2a6ad;

      & img {
        height: 13px;
      }
    }
  }
}

.write-btn {
  width: 98px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: fixed;
  right: 16px;
  bottom: 66px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #ffece0;
  background-color: var(--primary);
  border: 1px solid #fc7d28;
  border-radius: 24px;
  box-shadow: 0 4px 1px 0 #ebebeb;
  cursor: pointer;
  transition: 0.25s ease-out;

  &:hover {
    background-color: var(--primary-dark);
  }

  & img {
    width: 13px;
    aspect-ratio: 1 / 1;
  }
}
