.floating-chat {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;

  & .floating-chat__container {
    width: 90%;
    min-width: 300px;
    max-width: 480px;
    height: 80vh;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;

    & .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 12px;
    }

    & .chat-wrap {
      display: flex;
      flex-direction: column;
      gap: 6px;

      & .date {
        text-align: center;
        font-size: 12px;
        color: #9ca0a8;
        font-weight: 300;
        margin-bottom: 12px;
      }

      & .chat {
        display: flex;
        align-items: flex-end;
        gap: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.25;
        color: #4a4a4d;
        margin-bottom: 8px;
        animation: chatShow 0.35s ease-out;

        &.you {
          & img {
            width: 32px;
            aspect-ratio: 1 / 1;
          }
        }
        &.me {
          flex-direction: row-reverse;
          color: #ffe0cb;
        }

        & .chat-box {
          display: flex;
          align-items: center;
          gap: 6px;

          & .text {
            padding: 10px 12px;
            border-radius: 16px;

            .you & {
              background-color: #f1f3f5;
            }
            .me & {
              background-color: #fe6e0e;
            }
          }
        }

        & .current-time {
          font-size: 10px;
          font-weight: 300;
          color: #bfc2c9;
          white-space: nowrap;
        }
      }
    }

    & .send-wrap {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 6px 14px;
      box-sizing: border-box;

      & .chat-input {
        flex: 1;
        background-color: #f2f3f6;
        border: none;
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding: 10px 12px;
        box-sizing: border-box;
        border-radius: 38px;
        &::-webkit-input-placeholder {
          color: #b9bcc4;
        }
      }
      & .chat-submit {
        width: 34px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          animation: send 1s infinite;
        }

        & img {
          width: 100%;
        }
      }
    }
  }

  &.show {
    display: block;
  }

  & .backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@keyframes send {
  0% {
    transform: rotate(0deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
  30%,
  60% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes chatShow {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
